* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 50vh;
  background-image: url("../public/image/bckgrnd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  .main__content {
    width: 100%;
    height: 100%;
  }
}